body {
    background: linear-gradient(to bottom, #1e3a5f, #7ea0c7); /* Dégradé du bleu au bleu clair */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu, #game-container {
    margin: 20px auto;
    padding: 20px;
}

#gameCanvas {
    background-color: #333; /* Fond du jeu */
    margin-top: 20px;
    border: 3px solid #ffffff; /* Ajouter une bordure blanche */
}

button {
    background-color: #007BFF; /* Bleu pour les boutons */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
}

button:active {
    transform: scale(1.1);
    box-shadow: 0 0 10px #0056b3;
}

#profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.3s;
}

#profileImage:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 247, 255);
}

/* Bar de score */
#score-bar {
    background-color: #333;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Cache les boutons "Rejouer" et "Retour au menu" par défaut */
#game-over-buttons {
    display: none;
}

.hidden {
    display: none;
}
